:root{
    --cor-0: #FFFFFF;
    --cor-1: #00856F;
    --cor-2: #495057;
    --cor-3: #212529;
    --cor-4: #FFFAF1;
    --cor-5: #F7F9F9;
    --cor-6: #DCE9E2;

}

/*cor primarias */

.cor-1 {
    color: var(--cor-1);
}

.cor-4 {
    color: var(--cor-4);
}

.cor-5 {
    color: var(--cor-5);
}

.cor-6 {
    color: var(--cor-6);
}

/* cor secundária */

.cor-0 {
    color: var(--cor-0);
}

.cor-2 {
    color: var(--cor-2);
}

.cor-3 {
    color: var(--cor-3);
}


